body h1, body h2, body h3, body h4, body h5, body h6{
  font-family: NeutonRegular, "Lucida Grande", Lucida, Verdana, sans-serif;
  font-weight: 400;
  color: #373839;
  font-style: normal;
  font-size:16px;
}

body{
  font: 16px/24px NobileRegular, "Lucida Grande", Lucida, Verdana, sans-serif;
}

h1{
  font-size: 26px;
}
#header, #footer{
  width: 100%;
  color: #fff;
  
  text-align: center;
  overflow: hidden;

}


#footer{
 
  
 
  background: #000 url(footerbg.png) repeat-x 0 top;
  clear: both;
   background-color: blue;
}

#top{
  width: 100%;
  color: #000;
 /* height: 230px;*/
  background: #fff url(headerbg.png) repeat-x 0 top;
/*  position: relative;*/
}
#bottom{
  width: 100%;
  color: #222;
  background-color: #fff;
}

#content{
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
 
}

.middle{
  margin-right: auto;
  margin-left: auto;    
}


#header{
  background: #000; 
  background-color: purple;
}

#toolbar{
  width: 100%;
  padding: 0px;
  background: url(middlebg.png) repeat-x;
 
  border-top: 2px solid #fff;
  border-bottom: 2px solid #b2b2b2;
  font: 16px NobileRegular, "Lucida Grande", Lucida, Verdana, sans-serif;
}
.toolitem{
  height: 40px;
  
  line-height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  
  border-right: 2px solid #b2b2b2;
 /* background-color: green;*/
   
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}
a
{
  color: #1b61d6;
  text-decoration: none;
}

a:hover
{
  color: #e88f00;
  text-decoration: underline;
}
input
{
  color: #222;
  border: 1px solid #ccc;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 16px;
}

input[type=text], input[type=password]
{
  width: 205px;
}

input[type=submit]
{
  background-color: #ddd;
  font-weight: 700;
}